<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">Main Feed</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">Log in</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer>
        <section id="footerIcons">
            <a href=""><i class="fa-brands fa-github"></i></a>
            <a href=""><i class="fa-regular fa-envelope"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </section>
        <section id="miniMenu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Main Feed</a></li>
                <li><a href="">Register</a></li>
                <li><a href="">Log in</a></li>
                <li><a href="">About</a></li>
            </ul>
        </section>
        <section id="copyrightSection">
            <p id="copyright">&copy;Connectify 2024 - All rights reserved</p>
        </section>
        
    </footer>
    
</body>
</html>