<div id="home">
    <h1 id="welcome">Welcome</h1>
    <section >
        <img src="/images/logo-no-background.png" alt="">
        <article id="loginHome">
            <h1>Log in</h1>
                <form action="">
                <label for="">Username</label>
                <input type="text" name="" id="">
                <br>
                <label for="">Password</label>
                <input type="password">
                <br>
                <input id="submitHome" type="submit">
            </form>
        </article>
        
    </section>
</div>