<div id="home">
    <h1 id="welcome">Welcome</h1>
    <section >
        <img src="/images/logo-no-background.png" alt="">
        {{#if isAuth}}

        <h1>hey</h1>

        {{else}}
        <article id="loginHome">
            <h1>Log in</h1>
            {{#if error}}
            <h2>{{error}}</h2>
            {{/if}}
                <form action="/" method="post">
                <label for="">Username</label>
                <input type="text" name="username" minlength="5" required>
                <br>
                <label for="">Password</label>
                <input type="password" name="password" minlength="5" required>
                <br>
                <input id="submitHome" type="submit">
                <p>Don't have an account yet?</p>
                <button><a href="/register">Register</a></button>
            </form>
        </article>
        {{/if}}
    </section>
</div>