<div id="home">
    <h1 id="welcome">Welcome</h1>
    <section >
        <img src="/images/logo-no-background.png" alt="">
        <article id="loginHome">
            <h1>Log in</h1>
                {{!-- <form action="">
                <h1>Log in</h1>
                <label for="">Username</label>
                <input type="text" name="" id="">
                <label for="">Password</label>
                <input type="password">
            </form> --}}
        </article>
        
    </section>
</div>