<h1>Do you really want to log out?</h1>
<section>
   <form action="/" method="get">
    <button type="submit">No</button>
   </form>
   <form action="/logUserOut" method="get">
    <button type="submit">Yes</button>
   </form>

</section>