


<div id="myAccount">
<h1 id="myAccountH">My account</h1>
<h2>Welcome, {{user}}!</h2>
<section id="yourInfo">
    <h1>Your submissions</h1>
    {{#if posts}}
        <ul>
            {{#each posts}}
            <li><a href="/images/{{title}}">{{title}}</a></li>
            {{/each}}
        </ul>
    {{else}}
    <h1>You have not posted anything yet.</h1>
    {{/if}}
</section>
</div>