<div id="register">
    <h1>Create a new account</h1>
    <form action="">
        <label for="">Username</label>
        <input type="text" name="" id="" minlength="6" required>
        <label for="">Email</label>
        <input type="text" name="" id="" minlength="5" required>
        <label for="">Password</label>
        <input type="password" name="" id="" minlength="8" required>
        <label for="">Confirm password</label>
        <input type="password" name="" id="" minlength="8" required>
        <input type="submit" name="" id="">
    </form>
</div>