/* Color palette from dark to light:
A0937D
E7D4B5
F6E6CB
235347 - green */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

nav{
    width: 100vw;
    
}
nav ul{
    display: flex;
    list-style: none;
    width: 100vw;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
    background-color: #A0937D;
}
nav ul a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2vw;
    color: #F6E6CB;
}
nav ul img{
    width: 20vw;
}
@media(max-width:1000px){
    nav ul a{
        font-size: 3.5vw;
    }
}
@media(max-width:1500px){
    nav ul a{
        font-size: 3vw;
    }
}
@media(max-width:450px){
    nav ul a{
        font-size: 6vw;
    }
    nav ul{
        flex-direction: column;
        gap: 1vh;
        height: calc(5*6vw + 9*1vh );
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
}

footer{
    
 
    width: 100vw;
    background-color: #A0937D ;
    
}
#footerIcons{
    width: 40vw;
    margin: 0 auto;
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-around;
    padding: 0.5vw;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
#footerIcons i{
    font-size: 4vw;
    color: #F6E6CB;
}
footer #miniMenu ul{
    display: flex;
    width: 60vw;
    margin: 3vh auto;
    justify-content: space-around;
    list-style: none;
    
}
footer #miniMenu a{
    text-decoration: none;
    color: #F6E6CB;
    text-transform: uppercase;
    font-size: 1.5vw;
}
#copyrightSection{
    text-align: center;
    font-size: 1.7vw;
    
    display: flex;
    justify-content: center;
   
}
#copyright{
    width: 60vw;
    padding: 1vh;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #F6E6CB;
    color: #A0937D;
    font-weight: 600;
}
@media(max-width:1200px){
    #footerIcons{
        width: 60vw;
    }
    #footerIcons i{
        font-size: 6vw;
    }
    footer #miniMenu ul{
        margin: 2vw auto;
        
    }
    footer #miniMenu a{
        font-size: 2.5vw;
    }
    #copyright{
        font-size: 3vw;
    }
}
#welcome{
    color: #A0937D;
    width: 100vw;
    padding-top: 6vh;
    font-size: 6vw;
    text-align: center;
}


@media (max-width:900px){
    #home h1{
        font-size: 10vw;
    }
}
@media (max-width:500px){
    #home h1{
        font-size: 13vw;
    }
}

#home {
   
    background-color: #F6E6CB;
    padding-bottom: 10vh;
}

#home section{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}
#home img{
    width: 45vw;
}
#loginHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    width: 40vw;
    margin-top: 40vh;
    color: #A0937D;
   
}
#loginHome label{
    font-size: 3vw;
    margin-right: 3vw;
}

#loginHome input{
    width: 15vw;
    height: 8vh;
    border-radius: 20vw;
   
}
#loginHome #submitHome{
    width: 33vw;
    margin-top: 3vh;
    font-size: 3vw ;
}
#loginHome h1{
    font-size: 7vw;
    text-align: center;
}
@media(max-width:1100px){
    #home section{
        flex-direction: column;
    }
   
    #home img{
        width: 80vw;
    }
    #loginHome{
        width: 80vw;
        margin-top: 10vh;
    }
    #loginHome input{
        width: 45vw;
    }
    #loginHome label{
        font-size: 6vw;
    }
    #loginHome #submitHome{
        width: 70vw;
        font-size: 5vw;
    }
}
@media(max-width:1550px) and (min-width:1100px){
    #loginHome{
        margin-top: 20vh;
    }
}


/* Register page */
#register{
    height: 80vh;
    width: 100vw;
    background-color: #F6E6CB;
    
}
#register h1{
    text-align: center;
    padding: 5vh 0;
    color: darkolivegreen;
    font-size: 3.5vw;
}
#register form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    text-align: center;
    gap: 1vh;
    align-items: center;
}
#register input{
    width: 70%;
    height: 4vh;
    padding: 1vh;
    border-radius: 10vw;
    font-size: 1vw;
}
#register label{
    font-size: 3vw;
}

input:invalid {
    color: red;
}
input:valid{
    color: darkolivegreen;
}