/* Color palette from dark to light:
A0937D
E7D4B5
F6E6CB
235347 - green */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

nav{
    width: 100vw;
    
}
nav ul{
    display: flex;
    list-style: none;
    width: 100vw;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
    background-color: #A0937D;
}
nav ul a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2vw;
    color: #F6E6CB;
}
nav ul img{
    width: 20vw;
}
@media(max-width:1000px){
    nav ul a{
        font-size: 3.5vw;
    }
}
@media(max-width:1500px){
    nav ul a{
        font-size: 3vw;
    }
}
@media(max-width:450px){
    nav ul a{
        font-size: 6vw;
    }
    nav ul{
        flex-direction: column;
        gap: 1vh;
        height: calc(5*6vw + 13*1vh );
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
}

footer{
    
 
    width: 100vw;
    background-color: #A0937D ;
    
}
#footerIcons{
    width: 40vw;
    margin: 0 auto;
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-around;
    padding: 0.5vw;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
#footerIcons i{
    font-size: 4vw;
    color: #F6E6CB;
}
footer #miniMenu ul{
    display: flex;
    width: 60vw;
    margin: 3vh auto;
    justify-content: space-around;
    list-style: none;
    
}
footer #miniMenu a{
    text-decoration: none;
    color: #F6E6CB;
    text-transform: uppercase;
    font-size: 1.5vw;
}
#copyrightSection{
    text-align: center;
    font-size: 1.7vw;
    
    display: flex;
    justify-content: center;
   
}
#copyright{
    width: 60vw;
    padding: 1vh;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #F6E6CB;
    color: #A0937D;
    font-weight: 600;
}
@media(max-width:1200px){
    #footerIcons{
        width: 60vw;
    }
    #footerIcons i{
        font-size: 6vw;
    }
    footer #miniMenu ul{
        margin: 2vw auto;
        width: 90vw;
    }
    footer #miniMenu a{
        font-size: 3vw;
    }
    #copyright{
        font-size: 3vw;
    }
}
#welcome{
    text-align: center;
    padding: 0.5vw 1vw;
    text-transform: uppercase;
    font-size: 4vw;
    color: #F6E6CB;
    background-color: darkolivegreen;
    width: 40vw;
    margin: 0 auto;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}


@media (max-width:900px){
    #loginHome h1{
        font-size: 13vw;
    }
    #welcome{
        width: 60vw;
        font-size: 5vw;
    }
}
@media (max-width:500px){
    #loginHome h1{
        font-size: 13vw;
    }
    #welcome{
        width: 60vw;
        font-size: 6vw;
        margin-bottom: 5vh;
    }
    
}

#home {
   
    background-color: #F6E6CB;
    padding-bottom: 10vh;
}

#home section{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}
#home img{
    width: 45vw;
}
#loginHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    width: 40vw;
    margin-top: 40vh;
    color: #A0937D;
   
}
#loginHome label{
    font-size: 3vw;
    margin-right: 3vw;
}
#loginHome #passLabel{
    margin-right: 3.7vw;
}

#loginHome input{
    width: 15vw;
    height: 8vh;
    border-radius: 20vw;
    padding: 2vw;
   
}
#loginHome #submitHome{
    width: 33vw;
    margin-top: 3vh;
    font-size: 3vw ;
    padding: 0;
}
#loginHome h1{
    font-size: 7vw;
    text-align: center;
}
#loginHome p{
    font-size: 2.5vw;
    text-align: center;
    padding-top: 3vh;
}
#loginHome button{
    width: 33vw;
    margin-top: 3vh;
    font-size: 3vw ;
    padding: 0;
   
    border-radius: 20vw;
    
    
}
#loginHome button a{
    color: darkolivegreen;
    text-decoration: none;
}
@media(max-width:1100px){
    #home section{
        flex-direction: column;
    }
    
    #home img{
        width: 80vw;
    }
    #loginHome{
        width: 80vw;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
    }
    #loginHome input{
        width: 45vw;
    }
    #loginHome label{
        font-size: 6vw;
    }
    #loginHome #submitHome{
        width: 80vw;
        font-size: 5vw;
    }
    #loginHome button{
        width: 80vw;
        height: 8vh;
    }
    #loginHome button a{
        font-size: 5vw;
    }
    #loginHome p{
        font-size: 6vw;
        margin-top: 5vh;
    }
    #loginHome h1{
        font-size: 17vw;
    }
}
@media(max-width:1550px) and (min-width:1100px){
    #loginHome{
        margin-top: 20vh;
    }
}


/* Register page */

/* Not finished !!!!! */
#register{
   
    width: 100vw;
    background-color: #F6E6CB;
    min-height: 77.7vh;
}

#register h1{
        font-size: 4vw;
        text-align: center;
        padding: 0.5vw 1vw;
        text-transform: uppercase;
        color: #F6E6CB;
        background-color: darkolivegreen;
        width: 60vw;
       
        margin: 0 auto;
        margin-bottom: 4vh;
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    
}
#registerError{
    text-align: center;
    padding: 3vh 0;
    color: darkolivegreen;
    font-size: 3.5vw;
}
#register form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    text-align: center;
    gap: 1vh;
    align-items: center;
}
#register input{
    width: 70%;
    height: 4vh;
    padding: 1vh;
    border-radius: 10vw;
    font-size: 1vw;
    margin-top: 2vh;
}
#register label{
    font-size: 3vw;
    color: #A0937D;
    font-weight: 600;
}
#register button{
    margin-bottom: 4vh;
    background-color: transparent;
    border: 3px solid darkolivegreen
}
#register #submitInp{
    font-size: 4vw;
    border-radius: 10px;
    padding: 2vw;
}
#register p, #register button{
    font-size: 2vw;
    color: darkolivegreen;
}

@media(max-width:700px){
    #register h1{
        font-size: 8vw;
    }
    #register input{
        font-size: 2vw;
        margin-top: 1vh;
        width: 60vw;
    }
    #register form{
        gap: 1.5vh;
    }
    #register label{
        font-size: 5vw;
    }
    #register #submitInp{
        font-size: 4vw;
        text-align: center;
    }
    #register p, #register button{
        font-size: 4vw;
    }
}

input:invalid {
    color: red;
}
input:valid{
    color: darkolivegreen;
}

#mainFeed{
    width: 100vw;
    background-color: #F6E6CB;
    min-height: 70vh;
}
#mainFeed form{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5vh;
    justify-content: center;
    align-items: center;
}
#mainFeed h1{
    
        text-align: center;
        padding: 0.5vw 1vw;
        text-transform: uppercase;
        color: #F6E6CB;
        background-color: darkolivegreen;
        width: 40vw;
        margin: 0 auto;
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
        font-size: 4vw;
}
#mainFeed ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 2vw;
    row-gap: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    align-items: center;
   
}
#mainFeed label{
    font-size: 4vw;
}
#mainFeed select{
    width: 20vw;
    text-align: center;
    font-size: 2vw;
    border-radius: 2vw;
    margin: 2vh;
}
#mainFeed button{
    width: 10vw;
    text-align: center;
    font-size: 2vw;
    border-radius: 2vw;
   
}
#mainFeed #image{
    width: fit-content;
    height: fit-content;
    margin: 4vh auto;
    margin-bottom: 5vh;
    background-color: #A0937D;
    display: flex;
    padding-left: 1vw;
    padding-right: 1vw;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    border-radius: 5vw;
}
#mainFeed img{
    max-width: 90vw;
    min-width: 25vw;
    min-height: 30vh;
    align-self: center;
    max-height: 98vh;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    margin-bottom: 1vh;
}
#mainFeed img:hover{
    filter:saturate(200%) drop-shadow(5px 5px 5px #000);
    
}
#filler{
    width: 100vw;
    height: 10vh;
    background-color: #F6E6CB;
}
#mainFeed a{
    text-decoration: none;
    margin-top: 2vh;
    color: darkolivegreen;
    font-size: 2vw;
}
#mainFeed h2{
    color: #F6E6CB;
    font-size: 3vw;
}
@media(max-width:400px) {
    #mainFeed a{
        font-size: 6vw;
    }
    #mainFeed h2{
        font-size: 7vw;
    }
    #mainFeed #image{
        width: 92vw;
       
    }
    #mainFeed img{
        width: 84vw;
    }
}
@media(max-width:1000px)  and (min-width:400px){
    #mainFeed a{
        font-size: 4.5vw;
    }
    #mainFeed h2{
        font-size: 5.5vw;
    }
    #mainFeed #image{
        width: 88vw;
        height: fit-content
    }
    #mainFeed img{
        width: 72vw;
        height: fit-content;
        margin-bottom: 3vh;
    }
}
@media(min-width:800px ) and (max-width:1200px) {
    #mainFeed h1{
        font-size: 5vw;
    }
}

#about{
    background-color: #F6E6CB;
    min-height: 100vh;
    width: 100vw;
    padding: 0px 3vw;
}
#about #initialH{
    text-align: center;
    padding: 0.5vw 1vw;
    text-transform: uppercase;
    color: #F6E6CB;
    background-color: darkolivegreen;
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 4vh;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    font-size: 4vw;
}
#aboutFirst{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}
#mission{
    text-align: center;
    margin-top: 3vh;
}
#offers h1{
text-align: center;
margin-top: 4vh;
text-transform: none;
}
#offers ul{
    display: flex;
    text-align: center;
    list-style: none;
    margin-top: 4vh;
    margin-bottom: 4vh;
    gap: 5vw;
    padding: 0 3vw;
    
}

#join{
    text-align: center;
    margin-top: 5vh;
}

#logout{
    width: 100vw;
    min-height: 63.6vh;
    background-color: #F6E6CB;
}

#logout h1{
    margin: 3vh auto;
    margin-top: 0;
    padding-top: 3vh;
    text-align: center;
}
#logout section{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 20vw;
}
#logout button{
    font-size: 3vw;
    padding: 1vw;
    border-radius: 2vw;
}



#myAccount {
    width: 100vw;
    background-color: #F6E6CB;
    min-height: 70vh;
}
#myAccountH{
    text-align: center;
    padding: 0.5vw 1vw;
    text-transform: uppercase;
    color: #F6E6CB;
    background-color: darkolivegreen;
    width: 40vw;
    font-size: 4vw;
    margin: 0 auto;
    margin-bottom: 4vh;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
#myAccount h2{
    text-align: center;
    color: #A0937D;
    font-weight: 600;
    font-size: 2.5vw;
}
#yourInfo{
    text-align: center;
    
}




#upload{
    width: 100vw;
   min-height: 80vh;
   background-color: #F6E6CB;
}
#upload h1{
    text-align: center;
    padding: 0.5vw 1vw;
    text-transform: uppercase;
    color: #F6E6CB;
    background-color: darkolivegreen;
    width: 40vw;
    font-size: 4vw;
    margin: 0 auto;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
#upload form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 3vh auto;
    align-items: center;
}
#upload input{
    width: 30vw;
    height: 5vh;
    border-radius: 2vw;
    padding: 1vw;
}
#upload textarea{
    max-width: 40vw;
    width: 30vw;
    min-width: 20vw;
    height: 20vh;
    max-height: 20vh;
    border-radius: 2vw;
    padding: 1vw;
}
#upload label{
    font-size: 2vw;
}


#users{
    width: 100vw;
    background-color: #F6E6CB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#users #user{
    text-align: center;
    padding: 0.5vw 1vw;
    text-transform: uppercase;
    color: #F6E6CB;
    background-color: darkolivegreen;
    width: 60vw;
    font-size: 4vw;
    margin: 0 auto;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
#users #contact{
    text-align: center;
    margin: 3vh;
    display: flex;
    align-items: center;
    margin: 3 auto;
    width: 30vw;
    justify-content: space-around;
}
#contact i{
    font-size: 5vw;
    color: darkolivegreen;
}


#users ul{
    list-style: none;
}
#image{
    width: 80vw;
    height: 90vh;
    margin: 2vh auto;
    margin-bottom: 5vh;
    background-color: #A0937D;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    border-radius: 5vw;
}
#users img{
    width: 70vw;
    align-self: center;
    height: 70vh;
}

#search{
    width: 100vw;
    background-color: #F6E6CB;
    min-height: 70vh;
}
#search h1{
    text-align: center;
    padding: 0.5vw 1vw;
    text-transform: uppercase;
    color: #F6E6CB;
    background-color: darkolivegreen;
    width: 40vw;
    font-size: 4vw;
    margin: 0 auto;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
#search form{
    margin: 4vh auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
#search input{
    width: 30vw;
    border-radius: 2vw ;
    padding: 1vh;

}
#search button{
    width: 5vw;
    height: 5vh;
    border-radius: 2vw;
}
#search label{
    font-size: 2vw;
}

#search #resultsImage{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#search #resultsImage img{
    max-width: 30vw;
    margin-bottom: 4vh;
    border-radius: 4vw;
}
#search #resultsUser{
    text-align: center;
}
#search #resultsImage i, #search #resultsUser i{
    color: darkolivegreen;
    font-size: 3vw;
}


#like{
background-color: transparent;
padding: 2vw;
border: 10px solid darkolivegreen ;
border-radius: 3vw;
}
#unlike{
    background-color: darkolivegreen;
    color: #F6E6CB;
    padding: 2vw;
border: 10px solid #F6E6CB ;
border-radius: 3vw;
}
#imageView #unlike i{
    color: #F6E6CB;
    
}


#imageView{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 3vh 0;
    background-color: #F6E6CB;
}
#imageView img{
    max-width: 90vw;
    min-width: 50vw;
    height: fit-content;
}
#imageView i{
    color: darkolivegreen;
    font-size: 3vw;
}
